.inputsection{
  
background-color:aliceblue;
border-radius : 60px ;
border:  none ;
text-align: center ;
outline :none ; 
margin  :30px ;
width: 600px;
height: 75px;
color: black;

}


.navbar{

display:grid ;
justify-content: space-around;

}
.bouton{
    display: center ;
    width: 100px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}